# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# Coverage directory
coverage/

# Mac files
.DS_Store

# npm package files
*.tgz